/* メイン */
.main-container{
    height: auto;
    width: 100vw;
    background-color: rgb(245, 245, 247);
}

.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-title{
    font-size: 19px;
    font-family: 'Gotham SSm', sans-serif;
    color: rgb(24, 26, 31);
    padding-left: 11px;
    padding-top: 8px;
}

.restaurant-image{
    width: 100vw;
    height: 31vh;
}