/* メイン */
.mypage-title {
    text-align: center;
    padding-top: 22px;
    font-size: 28px;
}

.main-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-content {
    background-color: rgb(245, 245, 247);
    padding: 10px;
    margin-top: 20px;
    width: 95vw;
    border: black 1px solid;
    border-radius: 5px;
}

.reservation-detail{
    margin-top: 13px;
}

.restaurant-name {
    font-size: 22px;
    margin-bottom: 5px;
}

.return-top {
    margin-top: 25px;
    margin-left: 200px;
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

.return-top:hover {
    background-color: #0056b3;
}

.color-topbtn{
    color: white;
    text-decoration: none;
}

.deletedit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-primary{
    margin-left: 10px;
}