/* メイン */
/* レストランの説明 */
.main-container{
    height: auto;
    width: 100vw;
}

.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-image{
    width: 100vw;
    height: 30vh;
    position: relative;
}

.restaurant-title{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gotham SSm', sans-serif;
    color: #FFFFFF;
    padding-left: 18px;
    padding-top: 55px;
    position: absolute;
    top: 220px;
}

/* 予約 */
.reserve-form{
    padding-left: 12px;
    margin-top: 30px;
    width: 95vw;
}

.form-control{
    margin-top: 6px;
}

.btn{
    font-weight: bold;
    margin: 60px 2px 0px 330px;
    background-color: orange;
    color: rgb(245, 245, 247);
}